# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.iml
*.swp

# Logs
*.log
npm-debug.log*

# Node
node_modules/
dist/
coverage/
.env
.env.local

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/android/.gradle/
**/android/local.properties
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/.idea/
*.lock-info

# Generated
*.g.dart
*.freezed.dart
